.four_cards {
  &__card {
    padding: 1rem;
    border-radius: var(--border-sm);
    box-shadow: var(--shadow-1);
    background-color: var(--col-ivory);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &__lead {
    font-size: var(--fs-500);
    font-weight: var(--fw-500);
  }
  &__content {
    text-align: center;
  }

  &__attr {
    margin-top: auto;
    text-align: center;
    font-size: var(--fs-300);
  }
}
