.sessions {
    &__card {
        border-radius: var(--radius-lg);
        // overflow: hidden;
        margin-bottom: 2.5rem;
        position: relative;
        isolation: isolate;
        display: block;
        &:hover {
            .sessions__title {
                bottom: -3.5rem;
                background-color: color-mix(in srgb, var(--col-gold), var(--col-white) 20%);
            }
        }
    }
    &__image {
        // border-top-left-radius: var(--radius-lg);
        // border-top-right-radius: var(--radius-lg);
        // border-bottom-left-radius: var(--radius-sm);
        // border-bottom-right-radius: var(--radius-sm);
        border-radius: var(--radius-lg);
    }
    &__title {
        position: absolute;
        bottom: -3rem;
        width: 100%;
        background-color: var(--col-gold);
        color: var(--col-black);
        text-align: center;
        padding: 2rem 1rem 0.75rem 1rem;
        font-weight: var(--fw-500);
        font-size: var(--fs-500);
        transition: bottom var(--transition), background-color var(--transition);
        z-index: -1;
        border-bottom-left-radius: var(--radius-lg);
        border-bottom-right-radius: var(--radius-lg);
    }
}