.three_col {

    .session_card {
        display: grid;
        grid-template-rows: repeat(5, minmax(3rem,auto));
        padding: 10px;
        gap: 5px;
    }
    
    .session_card > div, .session_card > a {
        display: flex;
        align-items: center; /* Vertically center the content */
        justify-content: center; /* Horizontally center the content */
        padding: 5px;
    }
    

}