.three_col {
    .session_card {
        padding: 1rem;
        height: 100%;
        display: grid;
        gap: 0.5rem;
        grid-template-rows: 3rem max-content 1fr max-content auto 3rem;
        .btn {
            align-self: self-end;
            justify-self: center;
        }
    }
}