@import "typography";
@import "colours";
@import "buttons";
@import "header";
@import "footer";
// @import "news";
@import "forms";
@import "blocks/blocks";

body {
    background-color: var(--col-white);
    color: var(--col-black);
}

// main {
//     margin-top: var(--h-top-mobile);
//     @media (min-width:992px) {
//         margin-top: var(--h-top);
//     }
// }

.container-xl .container-xl {
    padding-inline: 0;
}

.container-xl > .row {
    margin-inline: 0;
}

a {
    transition: color var(--transition);
}

main a:not([class]) {
    color: var(--col-blue-400);
    &:hover {
        color: var(--col-blue-900);
    }
}

a.noline {
    text-decoration: none;
}
a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

@media (min-width:992px) {
    .cols-lg-2 {
        columns: 2;
    }
    .cols-lg-3 {
        columns: 3;
    }
}
.share-icons {
    padding-top: 1rem;
    a:not(:last-of-type) {
        margin-right: 0.5rem;
    }
}


.breadcrumbs {
    font-size: var(--fs-300);
    color: var(--col-grey-400);
    margin-bottom: 0.5rem;
    a {
        color: var(--col-red-600);
    }
}


.reading {
    font-size: 0.889rem;
    font-style: italic;
}


ul.no-indent {
    padding-inline-start: 0;
}


a {
    text-decoration: none;
}

.social_icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a {
        color: var(--col-blue-400);
        width: 40px;
        height: 40px;
        display: grid;
        place-content: center;
        transition: color var(--transition);
        &:hover {
            color: var(--col-blue-900);
        }
    }
}

.rounded-lg {
    border-radius: var(--radius-lg);
}


.buffer-top,
.buffer-bottom {
    width: 100%;
    height: 2rem;
    position: relative;
    z-index: -1;
}
.buffer-top {
    margin-top: -2rem;
}
.buffer-bottom {
    margin-bottom: -2rem;
}

.shadow-1 {
    box-shadow: var(--shadow-1);
}

// show stuff that overflows horizontally
// * {
//     outline: 1px solid #f00 !important;
// }
// show stuff that overflows horizontally via console JS
/*
var all = document.getElementsByTagName("*"), i = 0, rect, docWidth = document.documentElement.offsetWidth;
for (; i < all.length; i++) {
    rect = all[i].getBoundingClientRect();
    if (rect.right > docWidth || rect.left < 0){
        console.log(all[i]);
        all[i].style.borderTop = '1px solid red';
    }
}
*/

// @mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
// 	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
// 	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

// 	font-size: $min-value; // Fallback for older browsers
// 	font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
// }