.bg-purple-400 {
    background-color: var(--col-purple-400);
    color: var(--col-white);
}
.text-purple-400 {
    color: var(--col-purple-400);
}

.bg-teal-400 {
    background-color: var(--col-teal-400);
    color: var(--col-white);
}

.bg-ivory {
    background-color: var(--col-ivory);
}
